{% extends 'layout.server.view.html' %}

{% block content %}

<div>
	<a href='/agents/{{agent._id}}'>{{agent.firstName}}</a>
	<h2>Your Customers</h2>
	<table style='width=50%'>
  		<tr>
    		<th>Name</th>
    		<th>Email</th> 
    		<th>Phone Number</th>
  		</tr>

      {% for customer in customers %}
    		<tr>
      		<td><a href='/customers/{{customer._id}}'>{{customer.firstName}} {{customer.lastName}}</a></td>
      		<td>{{customer.email}}</td> 
      		<td>{{customer.phoneNumber}}</td>
    		</tr>
      {% endfor %}
	</table>
</div>


<div>
    <form name="newCustomerForm" action="/agents/{{agent._id}}/customers" method="post">
      <fieldset>
        <h3>Add a New Customer</h3>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName">
        </div>
        <div class="form-group">
          <label for="firstName">Last Name</label>
          <input type="text" id="lastName" name="lastName">
        </div>
        <div class="form-group">
          <label for="emailAddress">Email</label>
          <input type="text" id="emailAddress" name="emailAddress">
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone</label>
          <input type="text" id="phoneNumber" name="phoneNumber">
        </div>
        <div class="text-center form-group">
          <button type="submit">Add Customer</button>
        </div>
      </fieldset>
    </form>
</div>


{% endblock %}
