{% extends 'layout.server.view.html' %}

{% block content %}

<div>
	<h2><a href='/agents/{{agent._id.toString()}}'>{{agent.firstName}} {{agent.lastName}}</a></h2>
	<h3>Your Customers</h3>
	<table style='width=50%'>
    <col width="200">
    <col width="200">
    <col width="200">
  		<tr>
    		<th>Name</th>
    		<th>Email</th> 
    		<th>Phone Number</th>
        <th>Update</th>
  		</tr>

      {% for customer in customers %}
    		<tr>
      		<td><a href='/agents/{{agent._id.toString()}}/customers/{{customer._id.toString()}}'>{{customer.firstName}} {{customer.lastName}}</a></td>
      		<td>{{customer.email}}</td> 
      		<td>{{customer.phoneNumber}}</td>
          <td><a  type="submit" class="button" href='/agents/{{agent._id.toString()}}/customers/{{customer._id.toString()}}/update'>Update</a>
          </td>
    		</tr>
      {% endfor %}
	</table>
</div>


<div>
    <form name="newCustomerForm" action="/agents/{{agent._id.toString()}}/customers/add" method="post">
      <fieldset>
        <h3>Add a New Customer</h3>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" name="firstName" required>
        </div>
        <div class="form-group">
          <label for="firstName">Last Name</label>
          <input type="text" id="lastName" name="lastName" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone</label>
          <input type="text" id="phoneNumber" name="phoneNumber" required>
        </div>
        <div class="text-center form-group">
          <button type="submit">Add Customer</button>

          <a  class="button" href='/agents/{{agent._id.toString()}}/update'>Update Agent Info</a>
        </div>
      </fieldset>
    </form>
</div>


{% endblock %}
