{% extends 'layout.server.view.html' %}

{% block content %}

<h3></h3>

<div class="panel panel-default">
  <div class="panel-heading"><h3>Contacts</h3></div>
  <table class="table table-hover">
    <tr>
      <th>Agent</th>
      <th>Customer</th>
      <th>Time</th>
      <th>Contact Type</th> 
      <th>Summary</th>
    </tr>

    {% for contact in contacts %}
    <tr>
      <td><a href='/agents/{{contact.agentID}}'>{{contact.agentID}}</a></td>
      <td><a href='/customers/{{contact.customerID}}'>{{contact.customerID}}</a></td>
      <td>{{contact.timestamp.toString()}}</td>
      <td>{{contact.contactType}}</td>
      <td>{{contact.summary}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}