{% extends 'layout.server.view.html' %}

{% block content %}

<div>
	<h3>Agent: {{agent.firstName}} {{agent.lastName}}</h3>
  <ul>
      <li><b>Email: </b>{{agent.email}}</li>
      <li><b>Phone Number: </b>{{agent.phoneNumber}}</li>
  </ul>


</table>
  <div class="panel panel-default">
    <div class="panel-heading">Contact History</div>
    <table class="table table-hover">
      <tr>
    <th>Time</th>
    <th>Contact Type</th> 
    <th>Summary</th>
  </tr>
  {% for contact in contactHistory %}
    <tr>
      <td>{{contact.timestamp.toString()}}</td>
      <td>{{contact.contactType}}</td> 
      <td>{{contact.summary}}</td>
    </tr>
  {% endfor %}
    </table>
  </div>

{% endblock %}
