{% extends 'layout.server.view.html' %}

{% block content %}
<div>
	<h2>{{customer.firstName}} {{customer.lastName}}</a></h2>
  <form name="customerUpdate" action="/agents/{{agentID}}/customers/{{customer._id.toString()}}" method="post">
    <fieldset>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" required>
      </div>
      <div class="form-group">
        <label for="lasttName">Last Name</label>
        <input type="text" id="lastName" name="lastName" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone</label>
        <input type="text" id="phoneNumber" name="phoneNumber" required>
      </div>
      <div class="form-group">
        <button type="submit">Confirm</button>
      </div>
    </fieldset>
  </form>
</div>

{% endblock %}