{% extends 'layout.server.view.html' %}

{% block content %}

<div>
  <h2>
      {{customer.firstName}} {{customer.lastName}}  
  </h2>

  <p>
    <a type="submit" class="button" href='/agents/{{agentID}}/customers/{{customer._id.toString()}}/update'>Update Contact Info</a>
    | <a class="button" href='/agents/{{agentID}}/customers/{{customer._id.toString()}}/delete'>Delete</a>
  </p>

  <ul>
      <li><b>Email: </b>{{customer.email}}</li>
      <li><b>Phone Number: </b>{{customer.phoneNumber}}</li>
       <li><b>Street: </b>{{customer.street}}</li>
      <li><b>City: </b>{{customer.city}}</li>
      <li><b>Zip: </b>{{customer.zip}}</li>
      <li><b>State: </b>{{customer.state}}</li>
  </ul>
</div>

<div>
  <h3>New Contact</h3>
    <form name="contactForm" action="/agents/{{agentID}}/customers/{{customer._id.toString()}}/contacts/add" method="post">
      <fieldset>
        <div class="form-group">
          <div class="form-group">
            <label for="contactType">Communication Type</label>
            <input class="form-control" type="text" id="contactType" name="contactType" required>
          </div>

          <div class="form-group">
            <label for="summary">Summary</label>
            <textarea class="form-control" name="summary" id="summary" rows="4" cols="50" required></textarea>
          </div>            
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Save</button>
        </div>
      </fieldset>
    </form>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><b>Contact History</b></div>
  <table class="table table-hover">
    <tr>
      <th>Time</th>
      <th>Contact Type</th> 
      <th>Summary</th>
    </tr>
    {% for contact in contactHistory %}
      <tr>
        <td>{{contact.timestamp.toString()}}</td>
        <td>{{contact.contactType}}</td> 
        <td>{{contact.summary}}</td>
        <td>
          <form method="post" action="/agents/{{agentID}}/customers/{{customer._id.toString()}}/contacts/{{contact._id.toString()}}/delete">
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

<nav>
  <ul class="pager">
    <li><a href="{{prev_page}}">Previous</a></li>
    <li><a href="{{next_page}}">Next</a></li>
  </ul>
</nav>

{% endblock %}