{% extends 'layout.server.view.html' %}

{% block content %}

<h3></h3>

<div class="panel panel-default">
  <div class="panel-heading"><b>Search Results for "{{query}}"</b></div>
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Email</th> 
      <th>Phone Number</th>
    </tr>

    {% for customer in customers %}
    <tr>
      <td><a href='/agents/{{agentID}}/customers/{{customer._id.toString()}}'>{{customer.firstName}} {{customer.lastName}}</a></td>
      <td>{{customer.email}}</td> 
      <td>{{customer.phoneNumber}}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}